body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main-container {
  width: 100%;
  max-width: 65%;   /* applies only on big screens */
  margin: 0 auto;   /* keep centered */
  padding: 0 1rem;  /* breathing room on mobile */
}

@media (max-width: 768px) {
  .main-container {
    max-width: 100%; /* let it take full width */
  }
}

.profile-pic {
    width: 18rem;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section-bot-sm {
    padding-bottom: 1rem;
}

.title {
    text-align: center!important;
}

.description {
    font-weight: 300;
}

.list-detail {
    padding-top: 0.5rem;
}

.intro {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: “FlipH”;
}
