body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.profile-pic {
    width: 12rem;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title {
    text-align: center!important;
}

.description {
    font-weight: 300;
}

.list-detail {
    padding-top: 0.5rem;
}

.intro {
    padding-top: 5rem;
    padding-bottom: 3rem;
}
