@import url("pure/pure-min.css");
@import url("pure/grid.css");
@import url("pure/side-menu.css");

body, input {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #333;
}

.content {
    font-size: 1.32em;
}

article > header > h1 {
    line-height: 1.08em;
}

article > header > h1 > a,
.header > h1 > a {
    color: #333;
    text-decoration: none;
}

article > header > h1 > a:hover,
.header > h1 > a:hover {
    text-decoration: underline;
}

.footer {
     margin: 0 0 1em;
     color: #333;
     text-align: center;
     // padding: 2.5em 2em 0;
     border-top: 1px solid #eee;
}

.footer > .pure-menu-horizontal {
    white-space: normal;
}

.article-footer {
    height: 2em;
}

.prev-article {
    float: left;
}

.next-article {
    float: right;
}
