body {
    color:#fff;
    background-color:#FF6600;
    font-family: Helvetica, Sans-Serif;
}

.jumbotron, .about, .action {
    text-align: center;
    color: #f8f8f8;
}

.jumbotron {
    font-family: 'Lobster', cursive;
    text-shadow: -4px 4px 2px rgba(33, 33, 33, 0.9);
    padding-top: 0;
    background-color: transparent;
    margin-bottom: 0;
    padding-bottom: 0;
}

.jumbotron h1 {
    font-size: 80px;
}

.about a, a:visited, a:active, a:hover, a:link {
    color: #fff !important;
    text-decoration: none;
}

.about {
    font-family: 'Maven Pro', sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    text-transform: lowercase;
    letter-spacing: 1px;
    text-shadow: -2px 2px 1.5px rgba(0, 0, 0, 0.9);
}

.action {
    padding-bottom: 10px;
    color: #fff !important;
}

header img {
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
