@import url(http://fonts.googleapis.com/css?family=Anton);

body {
    background: url('images/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: Helvetica, Sans-Serif;
    height: 100%;
    width: 100%;
}

.jumbotron, .about, .action {
    text-align: center;
    color: #f8f8f8;
}

.jumbotron {
    font-family: 'Anton', Sans-Serif;
    text-shadow: -4px 4px 2px rgba(33, 33, 33, 0.9);
    padding-top: 30%;
    background-color: transparent;
    margin-bottom: 0;
    padding-bottom: 0;
}

.jumbotron h1 {
    font-size: 90px;
}

.about a {
    color: inherit !important;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    text-shadow: -3px 3px 1.5px rgba(0, 0, 0, 0.9);
}

.about {
    padding-bottom: 20px;
}

.action {
    padding-bottom: 90px;
}
